.red {
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #EE352E;
}

.green {
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #00933C;
}
.purple {
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #B933AD;
}

.blue{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #0039A6;
}

.orange{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color:white;
    text-align: center;
    border: solid 3px black;
    background-color: #FF6319;
}

.lime{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color:white;
    text-align: center;
    border: solid 3px black;
    background-color: #6CBE45;
}

.brown{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color:white;
    text-align: center;
    border: solid 3px black;
    background-color: #996633;
}

.grey{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #A7A9AC;
}

.yellow{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #FCCC0A;
}

.dark-grey{
    width:50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    border: solid 3px black;
    background-color: #808183;
}












/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}